@keyframes left_translation {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
@keyframes right_translation {
  from {
    transform: translateX(100%) translateY(6px);
    opacity: 0; }
  to {
    transform: translateX(0) translateY(6px);
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes skewX {
  from {
    opacity: 0;
    width: 0; }
  to {
    width: 250px;
    opacity: 1; } }
@keyframes top_translation {
  from {
    transform: translateY(-25px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes btranslate {
  from {
    transform: translateY(25px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes scalein {
  from {
    transform: scale(1.4);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
@keyframes bottom_translation {
  from {
    transform: translateY(25px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes shadow {
  0% {
    box-shadow: 0 0 10px gray; }
  50% {
    box-shadow: 0 0 30px silver; }
  100% {
    box-shadow: 0 0 10px gray; } }
@keyframes scaleout {
  from {
    transform: scale(0) rotate(0deg); }
  to {
    transform: scale(1) rotate(0deg); } }
@keyframes right_rotation {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }
@keyframes ltranslation {
  from {
    transform: translateX(-50px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
/*
* @platforms: MOBILE & PC (DESKTOP || LAPTOP)
* @organization: Console Art Cybernetic
* @created: 2022-07-01
* @updated: 2022-07-26
* @author: Obrymec
* @version: 0.0.3
*/
@font-face {
  src: url "../fonts/roboto-light.ttf";
  font-family: "Roboto"; }
label {
  font-family: "Roboto";
  letter-spacing: 1.5px;
  user-select: none;
  color: #323232;
  font-size: 16px; }

div.disable-display {
  display: block !important; }
  div.disable-display div.product-infos {
    width: auto !important; }
    div.disable-display div.product-infos div.product-name {
      justify-content: center;
      display: flex; }
    div.disable-display div.product-infos div.product-version {
      margin-left: 0 !important;
      justify-content: center;
      display: flex; }
      div.disable-display div.product-infos div.product-version label {
        text-align: center; }
    div.disable-display div.product-infos div.product-details label {
      text-align: center !important; }

body {
  transition-property: padding-left, padding-right;
  transition-duration: 0.3s;
  box-sizing: border-box;
  padding-right: 10%;
  padding-left: 10%;
  margin: 0; }
  @media only screen and (min-width: 0) and (max-width: 825px) {
    body {
      padding-right: 5%;
      padding-left: 5%; } }
  body div.app-bar {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: 100%; }
    body div.app-bar div.left-logo {
      animation: 300ms left_translation 0ms forwards;
      transform: translateX(-100%);
      padding-top: 16px;
      width: 100%;
      opacity: 0; }
      body div.app-bar div.left-logo img {
        transition-property: height, width;
        transition-duration: 0.3s; }
        @media only screen and (min-width: 741px) and (max-width: 825px) {
          body div.app-bar div.left-logo img {
            height: 86px;
            width: 86px; } }
        @media only screen and (min-width: 0) and (max-width: 740px) {
          body div.app-bar div.left-logo img {
            height: 60px;
            width: 60px; } }
    body div.app-bar div.right-logo {
      animation: 300ms right_translation 0ms forwards;
      transform: translateX(100%) translateY(6px);
      transition: right 0.3s;
      position: absolute;
      right: 10%;
      opacity: 0; }
      @media only screen and (min-width: 0) and (max-width: 825px) {
        body div.app-bar div.right-logo {
          right: 5%; } }
      body div.app-bar div.right-logo label {
        transition: font-size 0.4s; }
        @media only screen and (min-width: 0) and (max-width: 285px) {
          body div.app-bar div.right-logo label {
            font-size: 14px; } }
  body div.app-body {
    display: inline-flex;
    align-items: center; }
    body div.app-body div.product-screenshots {
      animation: 400ms skewX 900ms forwards, shadow 3s linear 1200ms infinite alternate forwards;
      box-shadow: 0 0 10px gray;
      justify-content: center;
      transition: filter 0.4s;
      display: inline-flex;
      align-items: center;
      border-radius: 15px;
      opacity: 0;
      width: 0; }
      body div.app-body div.product-screenshots:hover {
        filter: brightness(1.06); }
        body div.app-body div.product-screenshots:hover div.left-arrow img, body div.app-body div.product-screenshots:hover div.right-arrow img {
          opacity: 1; }
      body div.app-body div.product-screenshots div.left-arrow {
        margin-right: -40px;
        position: relative;
        z-index: 1; }
        body div.app-body div.product-screenshots div.left-arrow img {
          transition: opacity 0.4s;
          cursor: pointer;
          opacity: 0; }
      body div.app-body div.product-screenshots div.images-container {
        justify-content: center;
        scroll-behavior: smooth;
        border-radius: 15px;
        flex-direction: row;
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        width: 250px; }
        body div.app-body div.product-screenshots div.images-container img.product-screenshot {
          width: 250px;
          height: 100%; }
        body div.app-body div.product-screenshots div.images-container img#scht-1 {
          margin-left: 1742px; }
      body div.app-body div.product-screenshots div.right-arrow {
        margin-left: -40px; }
        body div.app-body div.product-screenshots div.right-arrow img {
          transition: opacity 0.4s;
          cursor: pointer;
          opacity: 0; }
    body div.app-body div.middle-margin {
      transition: width 0.4s;
      width: 10%; }
      @media only screen and (min-width: 0) and (max-width: 740px) {
        body div.app-body div.middle-margin {
          width: 5%; } }
    body div.app-body div.product-infos {
      align-items: center;
      width: 50%; }
      body div.app-body div.product-infos div.product-name {
        animation: 300ms top_translation 300ms forwards;
        transform: translateY(-25px);
        opacity: 0; }
        body div.app-body div.product-infos div.product-name label {
          transition: font-size 0.3s;
          display: inline-block;
          text-align: left;
          font-size: 36px; }
          @media only screen and (min-width: 0) and (max-width: 940px) {
            body div.app-body div.product-infos div.product-name label {
              font-size: 25px; } }
      body div.app-body div.product-infos div.product-version {
        animation: 200ms top_translation 400ms forwards;
        transform: translateY(-25px);
        margin-top: 5px;
        opacity: 0; }
        body div.app-body div.product-infos div.product-version label span {
          font-size: 13px; }
        body div.app-body div.product-infos div.product-version label strong {
          color: #707070; }
      body div.app-body div.product-infos div.product-details {
        animation: 300ms btranslate 500ms forwards;
        transform: translateY(25px);
        opacity: 0; }
        body div.app-body div.product-infos div.product-details label {
          transition: font-size 0.4s;
          line-height: 25px;
          text-align: left;
          display: block; }
          @media only screen and (min-width: 0) and (max-width: 399px) {
            body div.app-body div.product-infos div.product-details label {
              font-size: 15px; } }
      body div.app-body div.product-infos div.entity-source label {
        font-size: 13px; }
      body div.app-body div.product-infos div.entity-name {
        animation: 1ms fadeout 2150ms forwards;
        margin-top: 8px;
        opacity: 0; }
      body div.app-body div.product-infos div.gmail-contact {
        justify-content: center;
        display: inline-flex;
        align-items: center;
        width: 100%; }
        body div.app-body div.product-infos div.gmail-contact img {
          animation: 300ms scaleout 3900ms forwards, 300ms right_rotation 4200ms forwards;
          transform: scale(0) rotate(0deg); }
        body div.app-body div.product-infos div.gmail-contact label {
          animation: 300ms ltranslation 4200ms forwards;
          transform: translateX(-50px);
          display: inline-block;
          margin-left: 11px;
          font-size: 11px;
          opacity: 0; }
      body div.app-body div.product-infos div.btn {
        animation: 300ms scalein 700ms forwards;
        transform: scale(1.4);
        opacity: 0; }
        body div.app-body div.product-infos div.btn a#download-btn {
          box-shadow: 0px 0px 16px rgba(242, 153, 74, 0.72);
          transition: background-color 0.4s;
          text-shadow: 0 0 0 transparent;
          padding: 10px 15px 10px 15px;
          background-color: #F2994A;
          text-decoration: none;
          border-radius: 30px;
          cursor: pointer;
          margin-top: 5px;
          border: none; }
          body div.app-body div.product-infos div.btn a#download-btn label {
            transition: font-size, text-shadow;
            transition-duration: 0.4s;
            cursor: pointer;
            color: #FFF; }
            @media only screen and (min-width: 0) and (max-width: 825px) {
              body div.app-body div.product-infos div.btn a#download-btn label {
                font-size: 13px;
                padding: 5px; } }
          body div.app-body div.product-infos div.btn a#download-btn:hover {
            background-color: #dd7d29; }
            body div.app-body div.product-infos div.btn a#download-btn:hover label {
              text-shadow: 0 0 10px white; }

/*# sourceMappingURL=style.css.map */
