// Left translation animation.
@keyframes left_translation {
    from {
        transform: translateX(-100%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

// Right translation animation.
@keyframes right_translation {
    from {
        transform: translateX(100%) translateY(6px);
        opacity: 0;
    } to {
        transform: translateX(0) translateY(6px);
        opacity: 1;
    }
}

// Fadeout animation.
@keyframes fadeout {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

// Width animation.
@keyframes skewX {
    from {
        opacity: 0;
        width: 0;
    } to {
        width: 250px;
        opacity: 1;
    }
}

// Top translation.
@keyframes top_translation {
    from {
        transform: translateY(-25px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Bottom to top translation animation.
@keyframes btranslate {
    from {
        transform: translateY(25px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Scale in animation.
@keyframes scalein {
    from {
        transform: scale(1.4);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

// Bottom translation.
@keyframes bottom_translation {
    from {
        transform: translateY(25px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Shadow animation.
@keyframes shadow {
    0% {
        box-shadow: 0 0 10px gray;
    } 50% {
        box-shadow: 0 0 30px silver;
    } 100% {
        box-shadow: 0 0 10px gray;
    }
}

// Scale out.
@keyframes scaleout {
    from {
        transform: scale(0) rotate(0deg);
    } to {
        transform: scale(1) rotate(0deg);
    }
}

// Right rotation.
@keyframes right_rotation {
    from {
        transform: scale(1) rotate(0deg);
    } to {
        transform: scale(1) rotate(360deg);
    }
}

// Left to right translation.
@keyframes ltranslation {
    from {
        transform: translateX(-50px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}
