// Dependencies.
@import "tools.scss";

// Label.
label {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 1.5px;
    user-select: none;
    font-size: 16px;
}

// Disables body display.
div.disable-display {
    display: block !important;
    // Product infos.
    div.product-infos {
        width: auto !important;
        // Product name.
        div.product-name {
            justify-content: center;
            display: flex;
        }
        // Product version.
        div.product-version {
            margin-left: 0 !important;
            justify-content: center;
            display: flex;
            label {
                text-align: center;
            }
        }
        // Product details.
        div.product-details {
            label {
                text-align: center !important;
            }
        }
    }
}

// Body.
body {
    transition-property: padding-left, padding-right;
    transition-duration: 0.3s;
    box-sizing: border-box;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0;
    // Responsive global body.
    @include responsive (741px, 825px) {
        padding-right: 5%;
        padding-left: 5%;
    } @include responsive (0, 740px) {
        padding-right: 2%;
        padding-left: 2%;
    }
    // App bar.
    div.app-bar {
        justify-content: center;
        display: inline-flex;
        align-items: center;
        width: 100%;
        // Left logo.
        div.left-logo {
            padding-top: 16px;
            width: 100%;
            // Image.
            img {
                transition-property: height, width;
                transition-duration: 0.3s;
                // Responsive product icon.
                @include responsive (741px, 825px) {
                    height: 86px;
                    width: 86px;
                } @include responsive (0, 740px) {
                    height: 52px;
                    width: 52px;
                }
            }
        }
        // Right logo.
        div.right-logo {
            transform: translateY(1px);
            transition: right 0.3s;
            position: absolute;
            right: 10%;
            // Responsive container.
            @include responsive (741px, 825px) {
                right: 5%;
            } @include responsive (0, 740px) {
                right: 2%;
            }
            // Label.
            label {
                // Responsive text.
                @include responsive (0, 285px) {
                    font-size: 14px;
                }
            }
        }
    }
    // App body.
    div.app-body {
        display: inline-flex;
        align-items: center;
        // Product screenshots.
        div.product-screenshots {
            justify-content: center;
            display: inline-flex;
            width: 100%;
            // Screenshot container.
            div.product-screenshot {
                transition: filter 0.4s;
                display: inline-flex;
                align-items: center;
                // Hover.
                &:hover {
                    filter: brightness(1.06);
                    // Left and right arrow
                    img.left-arrow, img.right-arrow {
                        opacity: 1;
                    }
                }
                // Left arrow.
                img.left-arrow {
                    transform: translateX(40px);
                    transition: opacity 0.4s;
                    cursor: pointer;
                    opacity: 0;
                }
                // Product.
                img.product {
                    box-shadow: 0 0 30px gray;
                    border-radius: 15px;
                    display: block;
                    height: 100%;
                    width: 250px;
                }
                // Right arrow.
                img.right-arrow {
                    transform: translateX(-40px);
                    transition: opacity 0.4s;
                    cursor: pointer;
                    opacity: 0;
                }
            }
        }
        // Left data.
        div.product-infos {
            align-items: center;
            padding-right: 15px;
            width: 50%;
            // Product name.
            div.product-name {
                label {
                    transition: font-size 0.3s;
                    display: inline-block;
                    text-align: left;
                    font-size: 36px;
                    // Responsive label.
                    @include responsive (0, 940px) {
                        font-size: 25px;
                    }
                }
            }
            // Product version.
            div.product-version {
                transform: scale(0.9);
                margin-left: -15px;
                margin-top: 5px;
                label {
                    font-size: 13px;
                    strong {
                        color: #707070;
                    }
                }
            }
            // Product details.
            div.product-details {
                label {
                    line-height: 25px;
                    text-align: left;
                    display: block;
                }
            }
            // Entity source.
            div.entity-source {
                label {
                    font-size: 13px;
                }
            }
            // Entity name.
            div.entity-name {
                margin-top: 8px;
            }
            // Gmail contact.
            div.gmail-contact {
                justify-content: center;
                display: inline-flex;
                align-items: center;
                width: 100%;
                // Gmail address.
                label {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
            // Download button.
            a#download-btn {
                box-shadow: 0px 0px 16px rgba(242, 153, 74, 0.72);
                transition: background-color text-shadow;
                text-shadow: 0 0 0 transparent;
                padding: 10px 15px 10px 15px;
                background-color: #F2994A;
                transition-duration: 0.4s;
                text-decoration: none;
                border-radius: 30px;
                cursor: pointer;
                margin-top: 5px;
                color: #FFF;
                border: none;
                // Text link.
                label {
                    transition: font-size 0.3s;
                    cursor: pointer;
                    // Responsive object.
                    @include responsive (0, 825px) {
                        padding: 5px 10px 5px 10px;
                        font-size: 14px;
                    }
                }
                // Hover.
                &:hover {
                    background-color: #dd7d29;
                    text-shadow: 0 0 10px;
                }
            }
        }
    }
}
