// Dependencies.
@import "animations.scss";
@import "tools.scss";

// Label.
label {
    font-family: "Roboto";
    letter-spacing: 1.5px;
    user-select: none;
    color: #323232;
    font-size: 16px;
}

// Disables body display.
div.disable-display {
    display: block !important;
    // Product infos.
    div.product-infos {
        width: auto !important;
        // Product name.
        div.product-name {
            justify-content: center;
            display: flex;
        }
        // Product version.
        div.product-version {
            margin-left: 0 !important;
            justify-content: center;
            display: flex;
            // Version.
            label {
                text-align: center;
            }
        }
        // Product details.
        div.product-details {
            // Text details.
            label#details {
                text-align: center !important;
            }
        }
    }
}

// Body.
body {
    transition-property: padding-left, padding-right;
    transition-duration: 0.3s;
    box-sizing: border-box;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0;
    // Responsive global body.
    @include responsive (0, 825px) {
        padding-right: 5%;
        padding-left: 5%;
    }
    // App bar.
    div.app-bar {
        justify-content: center;
        display: inline-flex;
        align-items: center;
        width: 100%;
        // Left logo.
        div.left-logo {
            animation: 300ms left_translation 0ms forwards;
            transform: translateX(-100%);
            padding-top: 16px;
            width: 100%;
            opacity: 0;
            // Image.
            img {
                transition-property: height, width;
                transition-duration: 0.3s;
                // Responsive product icon.
                @include responsive (741px, 825px) {
                    height: 86px;
                    width: 86px;
                } @include responsive (0, 740px) {
                    height: 60px;
                    width: 60px;
                }
            }
        }
        // Right logo.
        div.right-logo {
            animation: 300ms right_translation 0ms forwards;
            transform: translateX(100%) translateY(6px);
            transition: right 0.3s;
            position: absolute;
            right: 10%;
            opacity: 0;
            // Responsive container.
            @include responsive (0, 825px) {
                right: 5%;
            }
            // Label.
            label {
                transition: font-size 0.4s;
                font-size: 18px;
                // Responsive text.
                @include responsive (0, 285px) {
                    font-size: 14px;
                }
            }
            // Label philosophie.
            label#philosophie {
                font-size: 12px;
            }
        }
    }
    // App body.
    div.app-body {
        display: inline-flex;
        align-items: center;
        // Product screenshots.
        div.product-screenshots {
            animation: 400ms skewX 900ms forwards, shadow 3s linear 1200ms infinite alternate forwards;
            box-shadow: 0 0 10px gray;
            justify-content: center;
            transition: filter 0.4s;
            display: inline-flex;
            align-items: center;
            border-radius: 15px;
            opacity: 0;
            width: 0;
            // Hover.
            &:hover {
                filter: brightness(1.06);
                // Left and right arrow.
                div.left-arrow, div.right-arrow {
                    img {
                        opacity: 1;
                    }
                }
            }
            // Left arrow.
            div.left-arrow {
                margin-right: -40px;
                position: relative;
                z-index: 1;
                // Arrow icon.
                img {
                    transition: opacity 0.4s;
                    cursor: pointer;
                    opacity: 0;
                }
            }
            // Product images.
            div.images-container {
                justify-content: center;
                scroll-behavior: smooth;
                border-radius: 15px;
                flex-direction: row;
                align-items: center;
                overflow-x: hidden;
                overflow-y: hidden;
                display: flex;
                width: 250px;
                // For screenshot model.
                img.product-screenshot {
                    width: 250px;
                    height: 100%;
                }
                // First image.
                img#scht-1 {
                    margin-left: 2250px;
                }
            }
            // Right arrow.
            div.right-arrow {
                margin-left: -40px;
                // Arrow icon.
                img {
                    transition: opacity 0.4s;
                    cursor: pointer;
                    opacity: 0;
                }
            }
        }
        // Middle margin.
        div.middle-margin {
            transition: width 0.4s;
            width: 10%;
            // Responsive.
            @include responsive (0, 740px) {
                width: 5%;
            }
        }
        // Left data.
        div.product-infos {
            align-items: center;
            width: 50%;
            // Product name.
            div.product-name {
                animation: 300ms top_translation 300ms forwards;
                transform: translateY(-25px);
                opacity: 0;
                // Name.
                label {
                    transition: font-size 0.3s;
                    display: inline-block;
                    text-align: left;
                    font-size: 36px;
                    // Responsive label.
                    @include responsive (0, 940px) {
                        font-size: 25px;
                    }
                }
            }
            // Product version.
            div.product-version {
                animation: 200ms top_translation 400ms forwards;
                transform: translateY(-25px);
                margin-top: 5px;
                opacity: 0;
                // Officialization.
                label {
                    // Strong texts.
                    strong {
                        color: #707070;
                    }
                    // Main tags.
                    span {
                        font-size: 13px;
                    }
                }
            }
            // Product details.
            div.product-details {
                animation: 300ms btranslate 500ms forwards;
                transform: translateY(25px);
                opacity: 0;
                // Label point.
                label#details {
                    transition: font-size 0.4s;
                    line-height: 25px;
                    display: block;
                    // Responsive details.
                    @include responsive (0, 399px) {
                        font-size: 15px;
                    }
                }
                // Product specifications.
                div.specifications {
                    flex-direction: column;
                    display: flex;
                    // Specification model.
                    div.spec {
                        transition: margin-left 0.4s;
                        display: inline-flex;
                        flex-direction: row;
                        align-items: center;
                        margin-left: 25px;
                        margin-top: 5px;
                        // Responsive specifications.
                        @include responsive (0, 399px) {
                            margin-left: 0;
                        }
                        // Text specification.
                        label {
                            transition: font-size 0.4s;
                            display: inline-block;
                            margin-left: 10px;
                            font-size: 14px;
                            // Responsive
                            @include responsive (0, 319px) {
                                margin-left: 6px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            // Entity source.
            div.entity-source {
                // Source text.
                label {
                    font-size: 13px;
                }
            }
            // Entity name.
            div.entity-name {
                animation: 1ms fadeout 2150ms forwards;
                margin-top: 8px;
                opacity: 0;
            }
            // Gmail contact.
            div.gmail-contact {
                justify-content: center;
                display: inline-flex;
                align-items: center;
                width: 100%;
                // Gamil icon.
                img {
                    animation: 300ms scaleout 3900ms forwards, 300ms right_rotation 4200ms forwards;
                    transform: scale(0) rotate(0deg);
                }
                // Gmail address.
                label {
                    animation: 300ms ltranslation 4200ms forwards;
                    transform: translateX(-50px);
                    display: inline-block;
                    margin-left: 11px;
                    font-size: 11px;
                    opacity: 0;
                }
            }
            // Download button.
            div.btn {
                animation: 300ms scalein 700ms forwards;
                transform: scale(1.4);
                opacity: 0;
                // Download link.
                a#download-btn {
                    box-shadow: 0px 0px 16px rgba(242, 153, 74, 0.72);
                    transition: background-color 0.4s;
                    text-shadow: 0 0 0 transparent;
                    padding: 10px 15px 10px 15px;
                    background-color: #F2994A;
                    text-decoration: none;
                    border-radius: 30px;
                    cursor: pointer;
                    margin-top: 5px;
                    outline: none;
                    border: none;
                    // Text link.
                    label {
                        transition: font-size, text-shadow;
                        transition-duration: 0.4s; 
                        cursor: pointer;
                        color: #FFF;
                        // Responsive link.
                        @include responsive (0, 825px) {
                            font-size: 13px;
                            padding: 5px;
                        }
                    }
                    // Hover.
                    &:hover {
                        background-color: #dd7d29;
                        // Text glow.
                        label {
                            text-shadow: 0 0 10px white;
                        }
                    }
                }
            }
        }
    }
}
