/**
* @project: Open Transfer - https://cacybernetic.github.io/opentransfer
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: About section stylesheets.
* @supported: DESKTOP & MOBILE
* @created: 2024-03-14
* @updated: 2024-03-14
* @file: about.scss
* @version: 0.0.4
*/

// Custom dependencies.
@import "./_variables.scss";

// Displayed about.
aside.about-displayed {
  transform: translateX(0) !important;
}

// Comeback container.
aside.about > div.return {
  justify-content: flex-end;
  display: inline-flex;
  width: 100%;
  // From 324 to 0.
  @media #{$about-324} {
    justify-content: center;
  }
}

// Back button.
aside.about > div.return > button {
  border: 1px solid $white-color;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  color: $white-color;
  border-radius: 6px;
  column-gap: 12px;
  cursor: pointer;
  outline: none;
  padding: 12px;
  // From 670 to 592.
  @media #{$about-670} {
    font-size: 14px;
    padding: 10px;
  }
  // From 592 to 324.
  @media #{$about-592} {
    font-size: 12px;
    padding: 8px;
  }
  // From 324 to 0.
  @media #{$about-324} {
    width: 100%;
  }
  // Tag.
  span {
    transition: all 30ms linear;
  }
  // Hover effect.
  &:hover {
    background-color: $white-color;
    color: $primary-900;
    // Icon.
    img {
      filter: brightness(30%);
    }
  }
  // Back arrow.
  img {
    filter: brightness(100%);
    // From 592 to 0.
    @media #{$about-592} {
      min-height: 18px;
      min-width: 18px;
      height: 18px;
      width: 18px;
    }
  }
}

// Avatars.
aside.about > div.avatars {
  display: inline-flex;
  color: $white-color;
  margin-top: 32px;
  font-size: 18px;
  // From 912 to 670.
  @media #{$about-912} {
    margin-top: 20px;
    font-size: 16px;
  }
  // From 670 to 592.
  @media #{$about-670} {
    margin-top: 18px;
    font-size: 14px;
  }
  // From 592 to 0.
  @media #{$about-592} {
    margin-top: 16px;
    font-size: 12px;
  }
  // Profil hover.
  div.obrymec > img:hover, div.mokira > img:hover {
    filter: grayscale(1);
  }
  // Developers.
  div.obrymec, div.mokira {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  // Profil.
  div.obrymec > img, div.mokira > img {
    box-shadow: 0 0 12px $about-shadow-color;
    border: 2px ridge $white-color;
    border-radius: 96px;
    margin-bottom: 12px;
    // From 912 to 670.
    @media #{$about-912} {
      margin-bottom: 10px;
      min-height: 64px;
      min-width: 64px;
      height: 64px;
      width: 64px;
    }
    // From 670 to 0.
    @media #{$about-670} {
      margin-bottom: 8px;
      min-height: 48px;
      min-width: 48px;
      height: 48px;
      width: 48px;
    }
  }
}

// Popup.
aside.about {
  background-color: $primary-900;
  padding: 64px 96px 48px 96px;
  transform: translateX(100%);
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  display: flex;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  // From 912 to 670.
  @media #{$about-912} {
    padding: 64px 48px 48px 48px;
  }
  // From 670 to 592.
  @media #{$about-670} {
    padding: 64px 32px 32px 32px;
  }
  // From 592 to 0.
  @media #{$about-592} {
    padding: 64px 16px 16px 16px;
  }
  // Developers.
  div.sponsors > span {
    color: $primary-400;
    font-weight: 700;
    font-size: 32px;
    // From 912 to 670.
    @media #{$about-912} {
      font-size: 16px;
    }
  }
  // Title.
  & > span:nth-child(1) {
    color: $primary-400;
    margin-bottom: 72px;
    font-weight: bold;
    font-size: 64px;
    // From 670 to 592.
    @media #{$about-670} {
      margin-bottom: 48px;
      font-size: 64px;
    }
    // From 592 to 0.
    @media #{$about-592} {
      margin-bottom: 32px;
      font-size: 48px;
    }
  }
  // Description.
  & > span:nth-child(2) {
    color: $white-color;
    line-height: 32px;
    font-size: 18px;
    // From 912 to 670.
    @media #{$about-912} {
      line-height: 24px;
      font-size: 16px;
    }
    // From 670 to 592.
    @media #{$about-670} {
      line-height: 20px;
      font-size: 14px;
    }
    // From 592 to 0.
    @media #{$about-592} {
      font-size: 12px;
    }
  }
  // Sponsors.
  div.sponsors {
    border-bottom: 1px ridge $about-border-color;
    display: inline-flex;
    padding-bottom: 12px;
    margin-top: 12px;
    width: 100%;
    // From 912 to 670.
    @media #{$about-912} {
      padding-bottom: 2px;
      margin-top: 0;
    }
    // From 670 to 592.
    @media #{$about-670} {
      margin-top: -4px;
    }
    // From 592 to 0.
    @media #{$about-592} {
      margin-top: -8px;
    }
  }
}
