/**
* @project: Open Transfer - https://cacybernetic.github.io/open_transfer
* @fileoverview: OTR features variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP & MOBILE
* @file: variables.scss
* @created: 2024-03-06
* @updated: 2024-03-06
* @version: 0.0.2
*/

// Responsive breakpoints.
$features-912: "only screen and (max-width: 912px)" !default;
$features-670: "only screen and (max-width: 670px)" !default;
$features-592: "only screen and (max-width: 592px)" !default;

// Colors theme.
$features-text-color: darken($primary-900, 13%) !default;
$features-bg-color: rgb(250, 250, 250) !default;
$features-shadow-color: silver !default;
