/**
* @project: Open Transfer - https://cacybernetic.github.io/open_transfer
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: Contacts section stylesheets.
* @supported: DESKTOP & MOBILE
* @created: 2024-03-09
* @updated: 2024-03-13
* @file: contacts.scss
* @version: 0.0.2
*/

// Custom dependencies.
@import "./_variables.scss";

// Popup displayed.
aside.cts-displayed {
  transform: translate3d(0, 0, 0) translateY(0) !important;
}

// Title.
div.cts-title {
  justify-content: flex-end;
  display: inline-flex;
  margin-bottom: 48px;
  width: 100%;
  // From 912 to 670.
  @media #{$contacts-912} {
    margin-bottom: 32px;
  }
  // From 592 to 0.
  @media #{$contacts-592} {
    margin-bottom: 16px;
  }
  // Title text.
  span {
    color: $white-color;
    font-weight: bold;
    font-size: 48px;
    cursor: auto;
    // From 912 to 592.
    @media #{$contacts-912} {
      font-size: 32px;
    }
    // From 592 to 0.
    @media #{$contacts-592} {
      font-size: 24px;
    }
  }
}

// Popup.
aside.contacts {
  transform: translate3d(0, 0, 0) translateY(-100%);
  background-color: $contacts-dissible-color;
  padding: 64px 96px 48px 96px;
  backdrop-filter: blur(3px);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  cursor: pointer;
  display: flex;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  // From 912 to 670.
  @media #{$contacts-912} {
    padding: 64px 48px 48px 48px;
  }
  // From 670 to 592.
  @media #{$contacts-670} {
    padding: 64px 32px 32px 32px;
  }
  // From 592 to 0.
  @media #{$contacts-592} {
    padding: 64px 16px 16px 16px;
  }
  // Back icon.
  & > img {
    cursor: pointer;
    position: fixed;
    left: 24px;
    top: 24px;
    // From 592 to 0.
    @media #{$contacts-592} {
      height: 24px;
      width: 24px;
      left: 16px;
      top: 16px;
    }
  }
}

// Main container.
div.cts-container {
  transform: translate3d(0, 0, 0);
  background-color: $white-color;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  display: flex;
  padding: 24px;
  cursor: auto;
  // From 912 to 670.
  @media #{$contacts-912} {
    padding: 20px;
  }
  // From 670 to 0.
  @media #{$contacts-670} {
    padding: 16px;
  }
  // Description.
  & > span {
    color: $contacts-text-color;
    margin-bottom: 24px;
    font-size: 18px;
    // From 912 to 670.
    @media #{$contacts-912} {
      margin-bottom: 20px;
      font-size: 16px;
    }
    // From 670 to 0.
    @media #{$contacts-670} {
      margin-bottom: 8px;
      line-height: 18px;
      font-size: 14px;
    }
  }
  // Close container.
  div.close {
    border: 1px solid $contacts-border-color;
    background-color: $white-color;
    border-radius: 48px;
    cursor: pointer;
    position: fixed;
    right: -14px;
    top: -16px;
    // From 592 to 0.
    @media #{$contacts-592} {
      display: none;
    }
    // Close icon.
    img {
      filter: brightness(30%);
    }
    // Hover effect.
    &:hover {
      background-color: $error-color;
    }
  }
  // Close hover.
  div.close:hover > img {
    filter: brightness(100%);
  }
}

// Networks.
div.cts-networks {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  column-gap: 48px;
  // From 912 to 670.
  @media #{$contacts-912} {
    column-gap: 32px;
  }
  // From 670 to 592.
  @media #{$contacts-670} {
    column-gap: 24px;
  }
  // From 592 to 0.
  @media #{$contacts-592} {
    column-gap: 16px;
  }
  // Whatsapp logo.
  div.network:nth-child(1) > div.logo > img {
    transform: scale(0.8) !important;
  }
  // Facebook logo.
  div.network:nth-child(3) > div.logo > img {
    transform: scale(0.8);
  }
  // Logos container.
  div.logo {
    background-color: $contacts-logo-bg-color-opacity;
    transform: scale(1.0);
    border-radius: 48px;
    padding: 14px;
    // From 912 to 670.
    @media #{$contacts-912} {
      padding: 12px;
    }
    // From 670 to 592.
    @media #{$contacts-670} {
      padding: 10px;
    }
    // From 592 to 0.
    @media #{$contacts-592} {
      padding: 8px;
    }
  }
  // Social network logos.
  div.logo > img {
    // From 912 to 670.
    @media #{$contacts-912} {
      min-height: 48px;
      min-width: 48px;
      height: 48px;
      width: 48px;
    }
    // From 670 to 592.
    @media #{$contacts-670} {
      min-height: 32px;
      min-width: 32px;
      height: 32px;
      width: 32px;
    }
    // From 592 to 0.
    @media #{$contacts-592} {
      min-height: 28px;
      min-width: 28px;
      height: 28px;
      width: 28px;
    }
  }
  // Network.
  div.network {
    color: $contacts-text-color;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    // From 912 to 670.
    @media #{$contacts-912} {
      font-size: 16px;
    }
    // From 670 to 0.
    @media #{$contacts-670} {
      font-size: 14px;
    }
    // Logo hover.
    &:hover > div.logo {
      background-color: $contacts-logo-bg-color-opaque;
      transform: scale(0.8);
    }
    // Hover effect.
    &:hover {
      text-shadow: 0 0 6px $primary-400;
      color: $primary-900;
    }
  }
}
