/**
* @project: Open Transfer - https://cacybernetic.github.io/opentransfer
* @fileoverview: OTR contacts variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP & MOBILE
* @file: variables.scss
* @created: 2024-03-09
* @updated: 2024-03-13
* @version: 0.0.1
*/

// Responsive breakpoints.
$contacts-912: "only screen and (max-width: 912px)" !default;
$contacts-670: "only screen and (max-width: 670px)" !default;
$contacts-592: "only screen and (max-width: 592px)" !default;

// Colors theme.
$contacts-logo-bg-color-opaque: rgba(104, 203, 141, 0.6) !default;
$contacts-logo-bg-color-opacity: rgba(104, 203, 141, 0) !default;
$contacts-text-color: darken($primary-900, 13%) !default;
$contacts-dissible-color: rgba(0, 0, 0, 0.6) !default;
$contacts-border-color: silver !default;
