/**
* @project: Open Transfer - https://cacybernetic.github.io/opentransfer
* @fileoverview: OTR header variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP & MOBILE
* @file: variables.scss
* @created: 2024-03-04
* @updated: 2024-03-14
* @version: 0.0.2
*/

// Responsive breakpoints.
$header-1064: "only screen and (max-width: 1064px)" !default;
$header-792: "only screen and (max-width: 792px)" !default;
$header-512: "only screen and (max-width: 512px)" !default;
$header-300: "only screen and (max-width: 300px)" !default;

// Colors theme.
$header-text-shadow: $primary-50 !default;
$header-bg-color: $primary-900 !default;
$header-border-color: #ddd !default;
$header-shadow-color: #000 !default;
$header-text-color: #fff !default;
