/**
* @project: Open Transfer - https://cacybernetic.github.io/open_transfer
* @fileoverview: Global configurations for light theme.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP & MOBILE
* @created: 2024-03-04
* @updated: 2024-03-04
* @file: light.scss
* @version: 0.0.1
*/

// Fonts family.
$vadodara-regular: "./assets/fonts/vadodara-regular.ttf" !default;
$ubuntu-regular: "./assets/fonts/ubuntu-regular.ttf" !default;
$vadodara-regular-font: "VadodaraRegular" !default;
$ubuntu-regular-font: "UbuntuRegular" !default;

// Colors theme.
$primary-900: #000426 !default;
$primary-600: #000853 !default;
