/**
* @project: Open Transfer - https://cacybernetic.github.io/open_transfer
* @fileoverview: Global configurations for light theme.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP & MOBILE
* @created: 2024-03-04
* @updated: 2024-03-07
* @file: light.scss
* @version: 0.0.2
*/

// Fonts family.
$vadodara-regular: "./assets/fonts/vadodara-regular.ttf" !default;
$ubuntu-regular: "./assets/fonts/ubuntu-regular.ttf" !default;
$vadodara-regular-font: "VadodaraRegular" !default;
$ubuntu-regular-font: "UbuntuRegular" !default;

// Colors theme.
$secondary-900: #eccb63 !default;
$primary-900: #1a5630 !default;
$primary-400: #2ece6d !default;
$primary-100: #68cb8d !default;
$primary-50: #e6e6ef !default;
