/**
* @project: Open Transfer - https://cacybernetic.github.io/open_transfer
* @fileoverview: OTR footer variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP & MOBILE
* @file: variables.scss
* @created: 2024-03-10
* @updated: 2024-03-13
* @version: 0.0.2
*/

// Responsive breakpoints.
$footer-912: "only screen and (max-width: 912px)" !default;
$footer-670: "only screen and (max-width: 670px)" !default;
$footer-592: "only screen and (max-width: 592px)" !default;
$footer-372: "only screen and (max-width: 372px)" !default;

// Colors theme.
$footer-border-color: silver !default;
